<%= form_for @user, remote: true do |f| %>

  <br>
  <div class="field">
    <%= f.label :subject %>
    <%= f.text_field :subject %>
  </div>
  <br>
  <div class="field">
    <%= f.label :message %>
    <%= f.text_area :message %>
  </div>
  <br>
  <div class="actions">
    <%= f.submit %>
  </div>

<% end %>
