<div class="row col-md-8 col-md-offset-2">
  <h1><%= @chat_room.title %></h1>

<div class="panel panel-default">
  <% if @chat_room.chat_messages.any? %>
    <div class="panel-body scroller" id="<%= @chat_room.title.split(' ')[0] %>" data-chat_room="<%=@chat_room.id%>">
      <%= render partial: 'chat_messages/chat_message', collection: @chat_room.chat_messages %>
    </div>
  <%else%>
    <div class="panel-body hidden" id="<%= @chat_room.title.split(' ')[0] %>" data-chat_room="<%=@chat_room.id%>">
    </div>
  <%end%>
</div>

  <%= render partial: 'chat_messages/chat_message_form', :style => "display:none;", locals: {chat_message: @chat_message, chat_room: @chat_room}%>
</div>
