<h2>Your Conversations</h2>
hello there conversations index
<p><%= link_to 'Start conversation', new_message_path, class: 'btn btn-lg btn-primary' %></p>
<ul class="list-group">
  <% @conversations.each do |conversation| %>
    <li class="list-group-item clearfix">
      <%= link_to conversation.subject, conversation_path(conversation) %>
      <% conversation.participants.each do |participant| %>
        <% unless participant == current_user %>
          <p><%=participant.name%>
          <%=participant.email%></p>
          <% if 1 == 0 %>
            <%= gravatar_for participant %>
          <%end%>
        <% end %>
      <% end %>
      <p><%= conversation.last_message.body %>
          <small>(<span class="text-muted"><%= conversation.last_message.created_at.strftime("%-d %B %Y, %H:%M:%S") %></span>)</small></p>
    </li>
  <% end %>
</ul>

<% will_paginate %>
