<h2>Your Conversations</h2>
hello there conversation show page

<p>Chatting with
  <% @conversation.participants.each do |participant| %>
    <% unless participant == current_user %>
      <p><%=participant.name%>
      <%=participant.email%></p>
      <%= image_tag(participant.avatar.url(:thumb), :class => "image-thumbnail") %>
    <% end %>
  <% end %>
</p>


<div class="panel panel-default">
  <div class="panel-heading"><%= @conversation.subject %></div>

  <div class="panel-body">
    <div class="messages">
      <% @conversation.receipts_for(current_user).each do |receipt| %>
        <% message = receipt.message %>

        <%= message.sender.name %>
          says at <%= message.created_at.strftime("%-d %B %Y, %H:%M:%S") %>
        <%= message.body %>
      <% end %>
    </div>
  </div>
</div>
