

<div class="row container">
  <h1>Welcome to the User page for <%= current_user.user_name.capitalize %></h1>
  <span class="product-homepage">
    <h3><%= current_user.user_name.capitalize %>'s Registered Location</h3>
    <%= image_tag "https://maps.googleapis.com/maps/api/staticmap?center=#{current_user.latitude},#{current_user.longitude}&zoom=12&size=600x300&maptype=roadmap&markers=color:blue%7Clabel:#{current_user.user_name}%7C#{current_user.latitude},#{current_user.longitude}" %>
  </span>
  <br><br><hr>
    <h4>Post a product you would like to trade</h4>
    <h4><%= link_to "Post", new_product_path, :class => "btn btn-success", :id => "new_product_link", remote: true %></h4>

  <div class="col-sm-6">
    <h4>Products posted by <%= current_user.user_name.capitalize %></h4>
    <ul class="list-group well">
        <%= content_tag_for(:li, current_user.products.each, class: "list-group-item") do |product| %>
        <%= link_to product.name, category_product_path(product.category, product)%><br>
        <%= image_tag(product.image.url(:thumb)) %>
        <% end %>
    </ul>
  </div>
  <div class="col-sm-6">
    <h4>Reviews written by <%= current_user.user_name.capitalize %></h4>
    <ul class="list-group well">
        <%= content_tag_for(:li, current_user.reviews.each, class: "list-group-item") do |review| %>
        <%= link_to review.name, product_review_path(review.product, review)%><br>
        <p><%= review.content %></p>
        <% end %>
    </ul>
  </div>
</div>
