<% if current_user && current_user.user_name == 'Admin' %>
<h1>Admin Landing Page</h1>
<hr>
<br>
<div class="row">
  <div class="col-sm-6">
    <%= link_to "Add a category", new_category_path, :class => "btn btn-success btn-lg",  :id => 'new_category_link', remote: true %>
    <h5>View All Categories</h5>
    <ul class="list-group well" id="categories">
      <% @categories.order('id desc').each do |category| %>
        <li class="list-group-item"><%= link_to category.name, category_path(category) %></li>
      <% end %>
    </ul>
  </div>
  <div class="col-sm-6">
    <%= link_to "Add a product", new_product_path, :class => "btn btn-success btn-lg",  :id => 'new_product_link', remote: true %>
    <h5>View All Products</h5>
    <ul class="list-group well" id="products">
      <% @products.order('id desc').each do |product| %>
        <li class="list-group-item"><%= link_to product.name, product_path(product) %>
          <span class="pull-right"><strong>Category: </strong><%= link_to product.category.name, category_path(product.category) %></span>
        </li>
      <% end %>
    </ul>
  </div>

</div>
<hr>
<h1>A list of our products by Category</h1>
<% @categories.each do |category| %>
  <div class="row">
    <div class="col-sm-3">
      <h4><%= category.name %></h4>
      <h4><%= link_to "View All Products for " + category.name, category_path(category), :class => "btn btn-lg btn-primary" %></h4>
    </div>
    <div class="col-sm-9">
      <% category.products.limit(5).each do |product| %>
      <span class="well product-homepage">
        <%= link_to product.name, category_product_path(category, product)%><br>
        <%= image_tag(product.image.url(:thumb), :class => "products-homepage") %>
      </span>
      <% end %>
    </div>
  </div>
  <hr>
<% end %>
<% elsif current_user %>
<h1>A list of our products by Category</h1>
<% @categories.each do |category| %>
  <div class="row">
    <div class="col-sm-3">
      <h4><%= category.name %></h4>
      <h4><%= link_to "View All Products for " + category.name, category_path(category), :class => "btn btn-lg btn-primary" %></h4>
    </div>
    <div class="col-sm-9">
      <% category.products.limit(5).each do |product| %>
      <span class="well product-homepage">
        <%= link_to product.name, category_product_path(category, product)%><br>
        <%= image_tag(product.image.url(:thumb), :class => "products-homepage") %>
      </span>
      <% end %>
    </div>
  </div>
  <hr>
<% end %>
<% else %>
<h1>A list of our products by Category</h1>
<% @categories.each do |category| %>
  <div class="row">
    <div class="col-sm-3">
      <h4><%= category.name %></h4>
      <h4><%= link_to "View All Products for " + category.name, category_path(category), :class => "btn btn-lg btn-primary" %></h4>
    </div>
    <div class="col-sm-9">
      <% category.products.limit(5).each do |product| %>
      <span class="well product-homepage">
        <%= link_to product.name, category_product_path(category, product)%><br>
        <%= image_tag(product.image.url(:thumb), :class => "products-homepage") %>
      </span>
      <% end %>
    </div>
  </div>
  <hr>
<% end %>
<% end %>
<hr>
<h1>Google Maps</h1>
<div id="map-container">
  <div id="map-canvas">

  </div>
</div>
