<h4>An app designed to allow users to share goods through a geographically enabled social website. When signing in, users enter their address and are located on the map where other users can know the general area that user is on. Users can post products they would like to trade, write reviews of other users, and message other users.</h4>
<h1>Local Swap Map</h1>
<script src="https://maps.googleapis.com/maps/api/js?key=<%= ENV['GOOGLE_API'] %>&callback=initMap"
async defer></script>
<script>
      var map;
      function initMap() {
        map = new google.maps.Map(document.getElementById('multi-markers'), {
          center: {lat: 45.5231, lng: -122.4965},
          zoom: 11,
          styles: [{"featureType":"all","elementType":"geometry.fill","stylers":[{"color":"#ffffff"},{"visibility":"simplified"}]},{"featureType":"administrative","elementType":"labels.text.fill","stylers":[{"color":"#444444"}]},{"featureType":"landscape","elementType":"all","stylers":[{"color":"#f2f2f2"}]},{"featureType":"poi","elementType":"all","stylers":[{"visibility":"off"}]},{"featureType":"road","elementType":"all","stylers":[{"saturation":-100},{"lightness":45}]},{"featureType":"road.highway","elementType":"all","stylers":[{"visibility":"simplified"}]},{"featureType":"road.arterial","elementType":"labels.icon","stylers":[{"visibility":"off"}]},{"featureType":"transit","elementType":"all","stylers":[{"visibility":"off"}]},{"featureType":"water","elementType":"all","stylers":[{"color":"#558C89"},{"visibility":"on"}]}]
        });

        <% if @users %>
        <% @users.each do |user| %>
        var contentString<%=user.id%> = '<div id="content">' +
            '<div id="siteNotice"><% unless current_user == user %>' +
              '<%= link_to "Send message", new_message_path(to: user.id), :class =>' + '"btn' + 'btn-default btn-sm" %>' +
            '<% end %>' +
            '</div>'+
            '<h1 id="firstHeading" class="firstHeading"><%=user.user_name%></h1>'+
            '<div id="bodyContent"><p><b>Products Available:</b></p><ol>'+
            <% user.products.each do |product| %>
            '<li><%=link_to product.name, product_path(product), :class => ""%></li>'+
            <% end %>
            '</ol><p>Email: <%=user.email%></p> <p>Go to: <%=link_to user.user_name, user_path(user) %></p>'+
            '</div>'+
            '</div>';

        var infowindow<%=user.id%> = new google.maps.InfoWindow({
          content: contentString<%=user.id%>
        });
        var marker<%=user.id%> = new google.maps.Marker({
          position: {lat: <%=user.latitude%>, lng: <%=user.longitude%>},
          map: map,
          title: 'Hello World!'
        });
        marker<%=user.id%>.addListener('click', function() {
          infowindow<%=user.id%>.open(map, marker<%=user.id%>);
        });
        <% end %>
        <%end%>
      }
    </script>






<div style='width: 1200px;' class="row">
  <div id="multi-markers" style='width: 1000px; height: 600px;' class="col-sm-10"></div>
  <div class="col-lg-2">
    <h5>Last User to Add a Product!</h5>
    <hr>
    <ol class="btn-group-vertical" id="users_list">
      <% holder = [] %>
      <% @products.order('id desc').each do |product| %>
        <% if !holder.include?(product.user) %>
          <li>
            <button class="btn btn-success"><%= link_to product.user.user_name, show_prod_path(product.user), :method => "post", remote: true%></button>
            <ol id="<%=product.user.id.to_s%>_user_prod" class="user_products"><h5>Products:</h5><%product.user.products.order('id desc').each do |prod|%><li><%=link_to prod.name, product_path(prod), :class => "white-link" %></li><%end%></ol>
            <h5 id="<%=product.user.id.to_s%>_user_no_prod" class="user_no_products">No Products for this User have been added yet</h5>
          </li>
          <% holder.push(product.user) %>
        <% end %>
      <% end %>
    </ol>
    <hr>
  </div>
</div>

<% if current_user && current_user.user_name == 'Admin' %>
<h1>Admin Landing Page</h1>
<hr>
<br>
<div class="row">
  <div class="col-lg-6">
    <%= link_to "Add a category", new_category_path, :class => "btn btn-success btn-lg",  :id => 'new_category_link', remote: true %>
    <h5>View All Categories</h5>
    <ul class="list-group well" id="categories">
      <% @categories.order('id desc').each do |category| %>
        <li class="list-group-item"><%= link_to category.name, category_path(category) %></li>
      <% end %>
    </ul>
  </div>
  <div class="col-lg-6">
    <%= link_to "Add a product", new_product_path, :class => "btn btn-success btn-lg",  :id => 'new_product_link', remote: true %>
    <h5>View All Products</h5>
    <ul class="list-group well" id="products">
      <% @products.order('id desc').each do |product| %>
        <li class="list-group-item"><%= link_to product.name, product_path(product) %>
          <span class="pull-right"><strong>Category: </strong><%= link_to product.category.name, category_path(product.category) %></span>
        </li>
      <% end %>
    </ul>
    <%= will_paginate @products %>
  </div>

</div>
<hr>
<h1>A list of products by category</h1><hr>
<% @categories.each do |category| %>
  <div class="row">
    <div class="col-md-4">
      <h4><%= category.name %></h4>
      <h4><%= link_to "View Products", category_path(category), :class => "btn btn-primary" %></h4>
    </div>
    <div class="col-md-8">
      <% category.products.limit(5).each do |product| %>
      <span class="well product-homepage">
        <%= link_to product.name, category_product_path(category, product)%><br>
        <%= image_tag(product.image.url(:thumb), :class => "products-homepage") %>
      </span>
      <% end %>
    </div>
  </div>
  <hr>
<% end %>
<% elsif current_user %>
<h1>A list of products by category</h1><hr>
<% @categories.each do |category| %>
  <div class="row">
    <div class="col-md-4">
      <h4><%= category.name %></h4>
      <h4><%= link_to "View Products", category_path(category), :class => "btn btn-lg btn-primary" %></h4>
    </div>
    <div class="col-md-9">
      <% category.products.limit(5).each do |product| %>
      <span class="well product-homepage">
        <%= link_to product.name, category_product_path(category, product)%><br>
        <%= image_tag(product.image.url(:thumb), :class => "products-homepage") %>
      </span>
      <% end %>
    </div>
  </div>
  <hr>
<% end %>
<% else %>
<h1>A list of products by category</h1><hr>
<% @categories.each do |category| %>
  <div class="row">
    <div class="col-md-4">
      <h4><%= category.name %></h4>
      <p><%= link_to "View Products", category_path(category), :class => "btn btn-lg btn-primary" %></p>
    </div>
    <div class="col-md-8">
      <% category.products.limit(4).each do |product| %>
      <span class="well product-homepage">
        <%= link_to product.name, category_product_path(category, product)%><br>
        <%= image_tag(product.image.url(:thumb), :class => "products-homepage") %>
      </span>
      <% end %>
    </div>
  </div>
  <hr>
<% end %>
<% end %>
