<h1>Category Page</h1>
<hr>
<br>
<% if current_user && current_user.user_name == 'Admin' %>
<div class="row">
  <div class="col-sm-6">
    <%= link_to "Add a category", new_category_path, :class => "btn btn-success btn-lg",  :id => 'new_category_link', remote: true %>
    <h5>View All Categories</h5>
    <ul class="list-group well" id="categories">
      <% @categories.order('id desc').each do |category| %>
        <li class="list-group-item"><%= link_to category.name, category_path(category) %></li>
      <% end %>
    </ul>
  </div>
  <div class="col-sm-6">
    <%= link_to "Add a product", new_product_path, :class => "btn btn-success btn-lg",  :id => 'new_product_link', remote: true %>
    <h5>View All Products</h5>
    <ul class="list-group well" id="products">
      <% @products.order('id desc').each do |product| %>
        <li class="list-group-item"><%= link_to product.name, product_path(product) %>
          <span class="pull-right"><strong>Category: </strong><%= link_to product.category.name, category_path(product.category) %></span>
        </li>
      <% end %>
    </ul>
  </div>

</div>
<% end %>

<hr>
