
<script type="text/javascript">
      var map;
      function initMap() {
        map = new google.maps.Map(document.getElementById('multi-markers'), {
          center: {lat: 45.5231, lng: -122.4965},
          zoom: 11,
          styles: [{"featureType":"all","elementType":"geometry.fill","stylers":[{"color":"#ffffff"},{"visibility":"simplified"}]},{"featureType":"administrative","elementType":"labels.text.fill","stylers":[{"color":"#444444"}]},{"featureType":"landscape","elementType":"all","stylers":[{"color":"#f2f2f2"}]},{"featureType":"poi","elementType":"all","stylers":[{"visibility":"off"}]},{"featureType":"road","elementType":"all","stylers":[{"saturation":-100},{"lightness":45}]},{"featureType":"road.highway","elementType":"all","stylers":[{"visibility":"simplified"}]},{"featureType":"road.arterial","elementType":"labels.icon","stylers":[{"visibility":"off"}]},{"featureType":"transit","elementType":"all","stylers":[{"visibility":"off"}]},{"featureType":"water","elementType":"all","stylers":[{"color":"#558C89"},{"visibility":"on"}]}]
        });

        <% if @users %>
        <% @users.each do |user| %>
        var contentString<%=user.id%> = '<div id="content">' +
            '<div id="siteNotice"><% unless current_user == user %>' +
              '<%= link_to "Send message", new_message_path(to: user.id), :class =>' + '"btn' + 'btn-default btn-sm" %>' +
            '<% end %>' +
            '</div>'+
            '<h1 id="firstHeading" class="firstHeading"><%=user.user_name%></h1>'+
            '<div id="bodyContent"><p><b>Products Available:</b></p><ol>'+
            <% user.products.each do |product| %>
            '<li><%=link_to product.name, product_path(product), :class => ""%></li>'+
            <% end %>
            '</ol><p>Email: <%=user.email%></p> <p>Go to: <%=link_to user.user_name, user_path(user) %></p>'+
            '</div>'+
            '</div>';

        var infowindow<%=user.id%> = new google.maps.InfoWindow({
          content: contentString<%=user.id%>
        });
        var marker<%=user.id%> = new google.maps.Marker({
          position: {lat: <%=user.latitude.to_f + 0.003 %>, lng: <%=user.longitude.to_f - 0.006 %>},
          map: map,
          label: "<%= user.user_name[0] + user.user_name[1] %>",
          title: 'Hello World!'
        });
        new google.maps.Rectangle({
          strokeColor: '#D9853B',
          strokeOpacity: 0.8,
          strokeWeight: 2,
          fillColor: '#D9853B',
          fillOpacity: 0.35,
          label: "<%= user.user_name[0] + user.user_name[1] %>",
          map: map,
          bounds: {
            north: <%=user.latitude.to_f + 0.003 %>,
            south: <%=user.latitude.to_f - 0.003 %>,
            east: <%=user.longitude.to_f + 0.006 %>,
            west: <%=user.longitude.to_f - 0.006 %>
          }
        });
        marker<%=user.id%>.addListener('click', function() {
          infowindow<%=user.id%>.open(map, marker<%=user.id%>);
        });
        <% end %>
        <%end%>
      }
    </script>


    <h4>An app designed to allow users to share goods through a geographically enabled social website. When signing in, users are located on the map via their entered address. True User locations are randomly altered upon sign up by a custom built scrambling function so their location stays protected. Users can post products they would like to trade, write reviews of other users, message other users, receive directions to other user locations, and can engage in live chat functionality with other users made possible by ActionCable.</h4>
    <hr>
    <h1>Local Swap Map</h1>

<div style='width: 1200px;' class="row">
  <div id="multi-markers" style='width: 1000px; height: 600px;' class="col-sm-10"></div>
  <div class="col-lg-2">
    <h5>Way to go <%= @products.order('id desc').first.user.user_name %>! You are the last user to add a Product!</h5>
    <hr>
    <ol class="btn-group-vertical" id="users_list">
      <% holder = [] %>
      <% @products.order('id desc').each do |product| %>
        <% if !holder.include?(product.user) && holder.length < 10 %>
          <li>
            <%= link_to product.user.user_name, show_prod_path(product.user), :method => "post", :class => "btn btn-success", remote: true%>
            <ol id="<%=product.user.id.to_s%>_user_prod" class="user_products">
              <h5 class="head-last-product">Products:</h5>
              <%product.user.products.order('id desc').each do |prod|%>
                <li><%=link_to prod.name, product_path(prod), :class => "white-link" %></li>
              <%end%>
            </ol>
            <h5 id="<%=product.user.id.to_s%>_user_no_prod" class="user_no_products">No Products for this User have been added yet</h5>
          </li>
          <br>
          <% holder.push(product.user) %>
        <% end %>
      <% end %>
    </ol>
    <hr>
  </div>
</div>
<div class="row">
  <h1 align="middle">Live Chat for <%= @home_chat_room.title %></h1>
  <hr>
  <div class="col-md-2">
    <h3>
      <%= link_to "Create a Chat Room", new_chat_room_path, :class => "btn-success" %>
    </h3>
  </div>
  <div class="col-md-8">
    <div class="panel panel-default">
      <% if @home_chat_room.chat_messages.any? %>
        <div class="panel-body scrolly" id="<%= @home_chat_room.title.split(' ')[0] %>" data-chat_room="<%=@home_chat_room.id%>" >
          <%= render partial: 'chat_messages/chat_message', collection: @home_chat_room.chat_messages %>
        </div>
      <%else%>
        <div class="panel-body hidden" id="<%= @home_chat_room.title.split(' ')[0] %>" data-chat_room="<%=@home_chat_room.id%>">
        </div>
      <%end%>
    </div>
    <%= render partial: 'chat_messages/chat_message_form', :style => "display:none;", locals: {chat_message: @chat_message, chat_room: @home_chat_room}%>
  </div>
  <div class="col-md-2">
    <h5>Custom Chat Rooms</h5>
    <% ChatRoom.all.order('id desc').limit(10).each do |chat_room| %>
      <% category_names = [] %>
      <% Category.all.each {|c| category_names.push(c.name)} %>
      <% if !category_names.include?(chat_room.title) && chat_room.title != 'Portland Area' %>
          <%= link_to chat_room.title, chat_room_path(chat_room), :class => "btn-info" %>
        <br>
      <% end %>
    <% end %>
  </div>
</div>
<hr>


<h1>Admin Landing Page</h1>
<br>
<%= link_to "Admin Product Management Dashboard", products_path, :class => "btn btn-success btn-lg" %>
<hr>
<br>
<div class="row">
  <div class="col-lg-6">
    <%= link_to "Add a category", new_category_path, :class => "btn btn-success btn-lg",  :id => 'new_category_link', remote: true %>
    <h5>View All Categories</h5>
    <ul class="list-group well" id="categories">
      <% @categories.order('id desc').each do |category| %>
        <li class="list-group-item"><%= link_to category.name, category_path(category) %></li>
      <% end %>
    </ul>
  </div>
  <div class="col-lg-6">
    <%= link_to "Add a product", new_product_path, :class => "btn btn-success btn-lg",  :id => 'new_product_link', remote: true %>
    <h5>View All Products</h5>
    <ul class="list-group well overflow" id="products">
      <% @productsLimited.order('id desc').each do |product| %>
        <li class="list-group-item"><%= link_to product.name, product_path(product) %>
          <span class="pull-right"><strong>Category: </strong><%= link_to product.category.name, category_path(product.category) %></span>
        </li>
      <% end %>
    </ul>
  </div>
</div>
<hr>
<h1>A list of products by category</h1><hr>
<% @categories.each do |category| %>
  <% @product_groups = [] %>
  <% @product_holder = []%>
  <% category.products.each {|p| @product_holder.push(p)} %>
  <% while @product_holder.length > 0 %>
    <% @grouper = [] %>
    <% if @product_holder.length >= 2 %>
      <% @grouper = [@product_holder[0], @product_holder[1]] %>
      <% 2.times { @product_holder.shift() } %>
    <% else %>
      <% @grouper.push(@product_holder[0]) %>
      <% @product_holder.shift() %>
    <% end %>
    <% @product_groups.push(@grouper) %>
  <% end %>
  <div class="row">
    <div class="col-md-4">
      <div class="cater-link">
        <h4><%= category.name %></h4>
        <h4><%= link_to "View Products", category_path(category), :class => "btn btn-success" %></h4>
      </div>
    </div>
    <div class="col-md-8">
      <% if category.products.length == 1 %>
        <div class="thumbnail" style="float:left;margin:10px 15px 10px 200px;width:140px;height:170px; position:relative;"><%= link_to category.products.first.name, category_product_path(category, category.products.first)%><br><%= image_tag(category.products.first.image.url(:thumb), :class => "products-homepage") %></div>
      <% elsif category.products.any? %>

<div class="container-fluid carasold">
  <div class="row-fluid">
    <div id="carousel-example-generic<%= category.id %>" class="carousel slide" data-ride="carousel">
    <!-- Indicators -->
      <ol class="carousel-indicators">
        <li data-target="#carousel-example-generic" data-slide-to="0" class="active darkblob"></li>
        <% @indicator_counter = 1 %>
        <% (@product_groups.length - 1).times do %>
          <li data-target="#carousel-example-generic" data-slide-to="<%= @indicator_counter %>" class="darkblob"></li>
          <% @indicator_counter += 1 %>
        <% end %>
      </ol>
      <!-- Wrapper for slides -->
      <div class="carousel-inner" role="listbox">
        <% @product_groups.each do  |prod_group|%>
          <% if prod_group.first.id == category.products.first.id && prod_group.length > 1 %>
            <div class="item active">
              <div class="thumbnail" style="float:left;margin:10px 15px 10px 60px;width:140px;height:170px; position:relative;"><%= link_to prod_group.first.name, category_product_path(category, prod_group.first)%><br><%= image_tag(prod_group.first.image.url(:thumb), :class => "products-homepage") %></div>
              <div class="thumbnail" style="float:left;margin:10px 15px 10px 60px;width:140px;height:170px; position:relative;"><%= link_to prod_group.last.name, category_product_path(category, prod_group.last)%><br><%= image_tag(prod_group.last.image.url(:thumb), :class => "products-homepage") %></div>
            </div>
          <% elsif prod_group.length > 1 %>
            <div class="item">
              <div class="thumbnail" style="float:left;margin:10px 15px 10px 60px;width:140px;height:170px; position:relative;">
                <%= link_to prod_group.first.name, category_product_path(category, prod_group.first)%><br>
                <%= image_tag(prod_group.first.image.url(:thumb), :class => "products-homepage") %>
              </div>
              <div class="thumbnail" style="float:left;margin:10px 15px 10px 60px;width:140px;height:170px; position:relative;"><%= link_to prod_group.last.name, category_product_path(category, prod_group.last)%><br><%= image_tag(prod_group.last.image.url(:thumb), :class => "products-homepage") %></div>
            </div>
          <% else %>
          <div class="item">
            <div class="thumbnail" style="float:left;margin:10px 15px 10px 60px;width:140px;height:170px; position:relative;">
              <%= link_to prod_group.first.name, category_product_path(category, prod_group.first)%><br>
              <%= image_tag(prod_group.first.image.url(:thumb), :class => "products-homepage") %>
            </div>
          </div>
          <% end %>
          <!-- Closing Tag for Each Category and Accompanying Products in Carousel -->
        <% end %>
      </div>

      <!-- Controls -->
      <a class="left carousel-control" href="#carousel-example-generic<%= category.id %>" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="right carousel-control" href="#carousel-example-generic<%= category.id %>" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>
  </div>
</div>
<% else %>
<h4>No Products for <%= category.name %> have been added yet</h4>
<% end %>
</div>
</div>
  <hr>
<% end %>
