<h1><%= @category.name.titleize %> Page</h1>
<img src=<%= @category.image %> alt="" />
<br><br>
<ul class="list-group well">
  <% @category.products.each do |product| %>
  <li class="list-group-item"><%= link_to product.name, category_product_path(@category, product)%></li>
  <% end %>
</ul>

<div class="btn-group">
  <%= link_to "Edit", edit_category_path(@category), :class => "btn btn-primary" %>
  <%= link_to "Delete", category_path(@category), :class => "btn btn-primary", :data => {:confirm => "You Sure?", :method => 'delete'} %>
  <%= link_to "Add a product", new_category_product_path(@category), :class => "btn btn-primary" %>
</div>


<hr>

<%= link_to "Back to Homepage", categories_path %>
