<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBsrciFSZIHPIokQFpVQo6i4boOCSu33w8&callback=initMap"
async defer></script>

<script type="text/javascript">
var map;
function initMap() {
  map = new google.maps.Map(document.getElementById('multi-markers'), {
    <% if prod = @category.products.first %>
      center: {lat: <%= prod.user.latitude %>, lng: <%= prod.user.longitude %>},
    <% else %>
      center: {lat: 45.5231, lng: -122.6765},
    <% end %>
    zoom: 8,
    styles: [{"featureType":"all","elementType":"geometry.fill","stylers":[{"color":"#ffffff"},{"visibility":"simplified"}]},{"featureType":"administrative","elementType":"labels.text.fill","stylers":[{"color":"#444444"}]},{"featureType":"landscape","elementType":"all","stylers":[{"color":"#f2f2f2"}]},{"featureType":"poi","elementType":"all","stylers":[{"visibility":"off"}]},{"featureType":"road","elementType":"all","stylers":[{"saturation":-100},{"lightness":45}]},{"featureType":"road.highway","elementType":"all","stylers":[{"visibility":"simplified"}]},{"featureType":"road.arterial","elementType":"labels.icon","stylers":[{"visibility":"off"}]},{"featureType":"transit","elementType":"all","stylers":[{"visibility":"off"}]},{"featureType":"water","elementType":"all","stylers":[{"color":"#558C89"},{"visibility":"on"}]}]
  });
  <% if prod %>
    <% @category.products.each do |product| %>
      var contentString<%=product.id%> = '<div id="content">'+
          '<div id="siteNotice">'+
          '$<%= @prod_condition %> Condition</div>'+
          '<h1 id="firstHeading" class="firstHeading"><%= product.name %></h1>'+
          '<div id="bodyContent"><p><%= product.name %> User Information:</p><p>Email: <%=product.user.email%></p> <p>Go to: <%=link_to product.user.user_name, user_path(product.user) %></p>'+
          '</div>'+
          '</div>';

      var infowindow<%=product.id%> = new google.maps.InfoWindow({
        content: contentString<%=product.id%>
      });
      var marker<%=product.id%> = new google.maps.Marker({
        position: {lat: <%=product.user.latitude%>, lng: <%=product.user.longitude%>},
        map: map,
        title: 'Hello World!'
      });
      marker<%=product.id%>.addListener('click', function() {
        infowindow<%=product.id%>.open(map, marker<%=product.id%>);
      });
    <% end %>
  <% end %>
}
</script>

<div class="row">
  <div class="col-sm-8">
    <h1><%= @category.name.titleize %> Page</h1>
    <%= image_tag(@category.image.url(:medium), :class => "category-page-image") %>
    <div id="multi-markers" style='width: 700px; height: 500px;'></div>
    <div>
      <%= link_to "Add a product", new_category_product_path(@category), :class => "btn btn-success btn-lg" %>
    </div>
    <div class="btn-group">
      <% if current_user && current_user.user_name == "Admin" %>
        <%= link_to "Edit Category", edit_category_path(@category), :class => "btn btn-primary" %>
        <%= link_to "Delete Category", category_path(@category), :class => "btn btn-danger", :data => {:confirm => "You Sure?", :method => 'delete'} %>
      <% end %>
    </div>
  </div>
  <div class="col-sm-4">
    <h4 style="margin-top:50px;margin-bottom:20px;">Products for the <%= @category.name %> Category</h4>
    <ul class="list-group well overflow-catergory-show">
      <% @category.products.each do |product| %>
      <li class="list-group-item" align="middle">
        <%= link_to product.name, category_product_path(@category, product)%><br>
        <%= image_tag(product.image.url(:thumb)) %>
      </li>
      <br><br>
      <% end %>
    </ul>
  </div>
</div>
<hr>
