<h1>Edit Product</h1>
<hr>
<%= form_for @product do |f| %>
<% @categories = Category.all %>
<div class="field">
  <%= f.label :name %>
  <%= f.text_field :name %>
</div>
<br>
<div class="field">
  <h5>Please select the Product's Category</h5>
  <% @categories.each do |category| %>
    <span class="cat-radio">
      <% if category.id == @product.category_id %>
        <%= radio_button_tag(:category_id, category.id, :checked => true) %>
        <%= label_tag(:category, category.name) %>
      <% else %>
        <%= radio_button_tag(:category_id, category.id) %>
        <%= label_tag(:category, category.name) %>
      <% end %>
    </span>
  <% end %>
</div>
<br>
<div class="field">
  <%= f.label :description %>
  <%= f.text_field :description %>
</div>
<br>
<div class="field">
  <h5>Please rate your product's condition</h5>
  <span class="cat-radio">
    <%= radio_button_tag(:condition, 0) %>
    <%= label_tag(:condition_0, "Basically Broken") %>
  </span>
  <span class="cat-radio">
    <%= radio_button_tag(:condition, 1) %>
    <%= label_tag(:condition_1, "Worn") %>
  </span>
  <span class="cat-radio">
    <%= radio_button_tag(:condition, 2) %>
    <%= label_tag(:condition_2, "Lightly Used") %>
  </span>
  <span class="cat-radio">
    <%= radio_button_tag(:condition, 3) %>
    <%= label_tag(:condition_3, "Great") %>
  </span>
  <span class="cat-radio">
    <%= radio_button_tag(:condition, 4) %>
    <%= label_tag(:condition_4, "Like New") %>
  </span>
</div>
<br>
<div class="field">
  <%= f.label :image %>
  <%= f.file_field :image %>
</div>
<br>
<div class="actions">
  <%= f.submit %>
</div>
<% end %>

<hr>
<%= link_to 'Back to category', category_path(@category) %>
