<%= form_for [@user, @review], remote: true do |f| %>
<div class="field">
  <%= f.label :content %>
  <%= f.text_area :content, cols: "60", rows: "4" %>
</div>
<div class="field">
  <h5>Please rate your experience trading with <%= @user.user_name.capitalize %></h5>
  <span class="cat-radio">
    <%= radio_button_tag(:rating, "1") %>
    <%= label_tag(:rating, "Terrible") %>
  </span>
  <span class="cat-radio">
    <%= radio_button_tag(:rating, "2") %>
    <%= label_tag(:rating, "Bad") %>
  </span>
  <span class="cat-radio">
    <%= radio_button_tag(:rating, "3") %>
    <%= label_tag(:rating, "Okay") %>
  </span>
  <span class="cat-radio">
    <%= radio_button_tag(:rating, "4") %>
    <%= label_tag(:rating, "Good") %>
  </span>
  <span class="cat-radio">
    <%= radio_button_tag(:rating, "5") %>
    <%= label_tag(:rating, "Stellar") %>
  </span>
</div>
<br>
<div class="actions">
  <%= f.submit %>
</div>
<% end %>
