<%= form_for [@user, @review], remote: true do |f| %>
<div class="field">
  <%= f.label :content %>
  <%= f.text_area :content, cols: "60", rows: "4" %>
</div>
<div class="field">
  <h5>Please rate your experience trading with <%= @user.user_name %></h5>
  <span class="cat-radio">
    <%= radio_button_tag(:rating, 1) %>
    <%= label_tag(:rating_user, "Terrible") %>
  </span>
  <span class="cat-radio">
    <%= radio_button_tag(:rating, 2) %>
    <%= label_tag(:rating_user, "Bad") %>
  </span>
  <span class="cat-radio">
    <%= radio_button_tag(:rating, 3) %>
    <%= label_tag(:rating_user, "Okay") %>
  </span>
  <span class="cat-radio">
    <%= radio_button_tag(:rating, 4) %>
    <%= label_tag(:rating_user, "Good") %>
  </span>
  <span class="cat-radio">
    <%= radio_button_tag(:rating, 5) %>
    <%= label_tag(:rating_user, "Stellar") %>
  </span>
</div>
<br>
<div class="actions">
  <%= f.submit %>
</div>
<% end %>
