<%= form_for [@user, @review], remote: true do |f| %>
<div class="field">
  <%= f.label :content %>
  <%= f.text_area :content, cols: "60", rows: "4" %>
</div>
<div class="field">
  <h5>Please rate your experience trading with <%= @user.user_name %></h5>
  <% index = 1 %>
  <% ["Terrible", "Bad", "Okay", "Good", "Stellar"].each do |ratingText| %>
    <% if @review.rating && @review.rating == index %>
      <span class="cat-radio">
        <%= radio_button_tag(:rating, index, :checked => true) %>
        <%= label_tag(:rating_user, ratingText) %>
      </span>
    <% else %>
      <span class="cat-radio">
        <%= radio_button_tag(:rating, index) %>
        <%= label_tag(:rating_user, ratingText) %>
      </span>
    <% end %>
    <% index += 1 %>
  <% end %>
</div>
<br>
<div class="actions">
  <%= f.submit %>
</div>
<% end %>
