<h1><%= @review.name %>'s Review</h1>

<h4>Comment:</h4>
<p>
  <%= @review.content %>
</p>

<h4>Rating:</h4>
<p>
  <%= @review.rating %>
</p>

<%= link_to "Edit", edit_product_review_path(@review) %> |

<%= link_to "Delete", product_review_path(@review), :data => {:confirm => "You Sure?", :method => 'delete'} %> |

<hr>

<%= link_to "Back to product", product_path(@product) %>
