<h1><%= @author.name %>'s Review</h1>

<h4>Comment:</h4>
<h5 style="color:orange;">
  <%= @review.content %>
</h5>

<h4>Rating:</h4>
<h5 style="color:orange;">
  <%= @review.rating %> out of 5
</h5>

<%= link_to "Edit", edit_user_review_path(@review.user, @review) %> |

<%= link_to "Delete", user_review_path(@review.user, @review), :data => {:confirm => "You Sure?", :method => 'delete'} %> |

<hr>

<%= link_to "Back to " + @review.user.user_name + "'s Page", user_path(@review.user) %>
